body {
    background-color: #1c57cf;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    display: grid;
    width: 80%;

    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas:
        "header-container header-container header-container"
        "stop-container map-container map-container"
        "stop-container slider-container slider-container";

    text-align: left;
    position: fixed;
    left: 50%;

    transform: translate(-50%, 5%);
}

.header-container {
    margin: 10px;
    grid-area: header-container;

    font-size: 50px;
    color: white;
}

.stop-container {
    padding: 10px;
    display: block;
    margin: 10;
    background-color: whitesmoke;
    grid-area: stop-container;
    width: 100%;
    height: 70vh;
    overflow: scroll;
}

.map-container {
    text-align: center;
    display: block;

    background-color: whitesmoke;
    grid-area: map-container;

    height: 70vh;
    padding: 10px;
    overflow: auto;
}

.slider-container {
    grid-area: slider-container;
    padding-top: 35px;

    padding-right: 20%;
    padding-left: 20%;
}

.leaflet-container {
    width: 100%;
    height: 55vh;
}
